.navbar {
    height: 80px;
    background-color: #8a2be2;
    display: flex ;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
}

.navButton {
    background: #8a2be2;
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid white;
    cursor: pointer;
    color: #ffffff;
}

.navButton:hover {
    background: #ffffff;
    cursor: pointer;
    color: #8a2be2;
}